html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form :focus {
    box-sizing: border-box;
    border-color: #43ABAB;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type=text]:focus,
input[type=search]:focus,
input[type=radio]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus {
    box-sizing: border-box;
    border-color: #43ABAB;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input[type="radio"]:checked {
    background-color: #43ABAB;
    border-color: #43ABAB;
}

.bg-light {
    border-radius: 15px;
}

.bg-secondary {
    background-color: #DCDDDE !important;
    border-radius: 15px;
    padding: 15px;
}

.custom-header {
    font-weight: 400;
    color: #4BC0C0;
}

    .custom-header.hover, navbar-brand:hover {
        color: #43ABAB;
    }

.custom-text {
    color: #43ABAB;
    font-weight: lighter;
}

.custom-font-light {
    font-weight: lighter;
}

.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link.hover, nav-link.focus {
    color: #43ABAB;
}

.btn-secondary {
    border-width: 3px;
}

.custom-btn-primary {
    color: #fff;
    background-color: #4BC0C0;
    border-color: #4BC0C0;
    border-width: 3px;
}

    .custom-btn-primary:hover {
        color: #43ABAB;
        background-color: #fff;
        border-color: #4BC0C0;
        border-width: 3px;
    }

.custom-btn-success {
    color: #4BC0C0;
    background-color: #fff;
    border-color: #4BC0C0;
    border-width: 3px;
}

    .custom-btn-success:hover {
        color: #fff;
        background-color: #4BC0C0;
        border-color: #4BC0C0;
        border-width: 3px;
    }

.custom-btn-primary:focus,
.custom-btn-primary.focus {
    color: #43ABAB;
    background-color: #fff;
    border-color: #4BC0C0;
    border-width: 3px;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.custom-btn-success:focus,
.custom-btn-success.focus {
    color: #fff;
    background-color: #4BC0C0;
    border-color: #4BC0C0;
    border-width: 3px;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.custom-btn-primary:not(:disabled):not(.disabled):active,
.custom-btn-primary:not(:disabled):not(.disabled).active,
.show > .custom-btn-primary.dropdown-toggle {
    color: #4BC0C0;
    background-color: #fff;
    border-color: #4BC0C0;
    border-width: 3px;
}

.custom-btn-success:not(:disabled):not(.disabled):active,
.custom-btn-success:not(:disabled):not(.disabled).active,
.show > .custom-btn-success.dropdown-toggle {
    color: #fff;
    background-color: #4BC0C0;
    border-color: #4BC0C0;
    border-width: 3px;
}

.custom-btn-primary:not(:disabled):not(.disabled):active:focus,
.custom-btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .custom-btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.custom-btn-success:not(:disabled):not(.disabled):active:focus,
.custom-btn-success:not(:disabled):not(.disabled).active:focus,
.show > .custom-btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #4BC0C0;
    /*    --bs-dropdown-border-color: none;
*/ --bs-dropdown-link-hover-bg: #4BC0C0;
    --bs-dropdown-link-hover-color: white;
    padding: 0;
}


.bg-custom {
    background-color: #43ABAB !important;
    border-radius: 15px;
    padding: 15px;
    min-height: 100px;
}

.default-row {
    background-color: inherit;
}

.zero-amount-row {
    background-color: red;
}

.non-matching-amount-row {
    background-color: yellow;
}

.matching-amount-row {
    background-color: green;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.alert-container {
    width: 300px;
    text-align: center;
}

.alert {
    padding: 15px;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.table-container {
    border: 3px solid #4BC0C0;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}

.card-container {
    border: 3px solid #4BC0C0;
    border-radius: 10px;
    display: none;
}

.card-container .card {
    border: none;
    border-bottom: 3px solid #4BC0C0;
    border-radius: 10px;
}


@media (max-width: 1200px) {
    .table-container {
        display: none;
    }

    .card-container {
        display: block;
    }
}

.table {
    border: none;
    background-color: transparent !important;
}

.table tr {
    border-bottom: 2px solid #4BC0C0 !important;
}

.table td, .table th {
    border-right: none;
    border-left: none;
    border-top: none;
}

.table tr:hover {
    background-color: rgba(0, 0, 0, 0.05); 
}
.nav-pills .nav-link.active {
    background-color: #4BC0C0; 
    color: white;
}

.nav-pills .nav-link {
    color: #4BC0C0;
}

.nav-pills .nav-link:hover {
    background-color: #4BC0C0;
    color: white; 
}

.tab-pane {
    visibility: visible !important;
}

