@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron text-center mb-5">
    <h1 class="display-4 mb-3">Welcome to HealthObserver!</h1>
    <h5 class="custom-text mb-3">Your platform for patient monitoring and healthcare management.</h5>
    <hr class="my-4" style="color: #43ABAB; background-color: #43ABAB; height: 2px; border: none;" />

</div>
<div class="row align-items-center bg-light p-4 ">
    <div class="col-md-6 text-center">
        <img src="~/images/doc.png" alt="Your Image" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-6">
        <h3 class="display-5 mb-4">Let us help you monitor your health</h3>
        <p class="lead">HealthObserver is designed to provide an efficient way to monitor patients' medication intake and overall well-being through surveys.</p>
        <p class="lead">Our platform allows doctors to manage prescriptions and patients to conveniently log their medication usage.</p>
        <h5 class="custom-text">Join us on this journey towards better healthcare management!</h5>
    </div>
</div>



