@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="bg-light p-4">
    <h1>@ViewData["Title"]</h1>
    <div class="row justify-content-center align-items-center">
        <h1>there is no dick in the village ze nie dostaniemy 4.5</h1>

        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
                    title="YouTube video"
                    allow="autoplay; encrypted-media"
                    allowfullscreen>
            </iframe>
        </div>
    </div>
</div>